/* baner news style start */
.news-banner {
    .news-main {
        max-width: 1240px;
        background: $primer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }

    .news-content {
        max-width: 486px;

        h4 {
            font-size: 46px;
            margin-bottom: 40px;
        }

        p {
            margin-bottom: 40px;
        }

        a {
            padding: 18px 40px;
            background: $white;
            color: $black;
            border-radius: 10px;

            &:hover {
                background: $black;
                color: $white;
            }
        }
    }

    .news-image {
        max-width: 440px;
        border-left: 1px solid $white;
        border-radius: 50%;
        color: #050505;

        img {
            width: 100%;
        }
    }
}
 
.news-banner.swiper {
     width: 90%;
     border-radius: 20px;
    transition: all .3s ease;
          
     .swiper-pagination{
        transition: all .3s ease;
        .swiper-pagination-bulle{
            background: $white;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            border-radius: 50%;
            opacity: 1;
            
          
        } 
        .swiper-pagination-bullet-active{
            background: $black;
            width: 24px;
            border-radius: 24px;
            transition: all .3s ease;
             transition: all .3s ease-out .3s;
        }
     }
}

/* baner news style end */