/* baner news style start */
.news-banner {
    .news-main {
        max-width: 1240px;
        background: $primer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }

    .news-content {
        max-width: 486px;

        h4 {
            font-size: 46px;
            margin-bottom: 40px;
        }

        p {
            margin-bottom: 40px;
        }

        a {
            padding: 18px 40px;
            background: $white;
            color: $black;
            border-radius: 10px;

            &:hover {
                background: $black;
                color: $white;
            }
        }
    }

    .news-image {
        max-width: 440px;
        border-left: 1px solid $white;
        border-radius: 50%;
        color: #050505;

        img {
            width: 100%;
        }
    }
}
/* baner news style end */