
*{
    margin: 0;
    padding: 0;
}
/* variable css start*/
:root 
{
    --black: #050505;
    --white: #ffffff;
    --primer: #25EFD2;
    --light-black: #333333;
    /* variable css end */
}
/* common css start */
body{
    font-family: 'Poppins', sans-serif;
   
}
a{
    text-decoration: none;
    color: var(--white);
    transition-duration: .3s;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
.container{
    max-width: 1240px;
   margin: 0 auto;
}
.header-area .header-main 
{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
/* common css end */
/* header css start */
.header-area {
width: 100%;
background-color: var(--black);
}
.header-area .header-menu li {
color: var(--white);
list-style: none;
display: inline-block;
margin: 0 30px;
text-transform: capitalize;
}
.header-area .header-btn-box  .header-btn-1 {
    padding: 15px 30px;
    background: var(--white);
    color: var(--black);
    border-radius: 10px;
}
.header-area .header-btn-box  .header-btn-1:hover {
   background: var(--primer);
}
.header-area .header-btn a {
 color: var(--black);
}
/* header css end */
/* banner css start */
.banner-are{
    width: 100%;
    background-color: var(--primer);
    padding: 50px 0;
}
.banner-main{
    max-width: 1300px;
    display: flex;
    align-items: center;
  
    
}
.banner-are .banner-content{
    max-width: 584px;
    background-color: var(--primer);
  
}
.banner-are .banner-content h1{
 font-size: 48px;
 margin-bottom: 40px;
  
}
.banner-are .banner-content p{
  font-size: 18px;
  color: var(--light-black);
  margin-bottom: 40px;
}
.banner-are .banner-content .banner-btn
{
    color: var(--black);
    padding: 18px 50px;
    border: solid 2px var(--black);
    border-radius: 10px;
}
.banner-are .banner-imae{
    width: 673px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.banner-are .banner-imae img{
    width: 460px;
  
}
.banner-are .banner-imae .banner-bg{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  
}
.banner-are .pagenation{ 
text-align: center; 
  
}
.banner-are .button-slider{
    width: 12px;
    height: 12px;
    background: var(--white);
    border-radius: 50%;

  
}
.banner-are   .d-slider{ 
    width: 28px;
    height: 12px;
    border-radius: 30px;
 background: var(--black);
}
/* banner css end */
/* product section start */
.product-box .product-area{
max-width: 1130px;
 margin: 50px 0;
}
.product-box .product-area .product-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
   align-items: center;
   gap: 50px;
 
}
.product-box .product-area .product-item .product-image{
   max-width: 588px;
}
.product-box .product-area .product-item .product-image img{
   width: 100%;
}
.product-box .product-area .product-item .product-content{
   max-width: 526px;
}
.product-box .product-item .product-content h2{
   font-size: 37px;
   margin-bottom: 40px;
}
.product-box .product-item .product-content p{

   margin-bottom: 40px;
}
.product-box .product-item .product-content a{
    padding: 18px 50px;
   background: var(--primer);
    border-radius: 10px;
    color: var(--black);
}
.product-box .product-item .product-content a:hover{
 background: var(--black);
 color: var(--white);
}
.product-box .product-item:nth-child(even){
 flex-direction: row-reverse;

}
/* product section end */

/* baner news style start */
.news-banner .news-main{
    max-width: 1240px;
    background: var(--primer);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    border-radius: 30px;
}
.news-banner .news-content{
     max-width: 486px;
}
.news-banner .news-content h4{
    font-size: 46px;
    margin-bottom: 40px;
}
.news-banner .news-content p{
   margin-bottom: 40px;
}
.news-banner .news-content a{
   padding: 18px 40px;
   background: var(--white);
   color: var(--black);
   border-radius: 10px;
}
.news-banner .news-content a:hover{
 
   background: var(--black);
   color: var(--white);
}
.news-banner .news-image{
     max-width: 440px;
     border-left: 1px solid var(--white);
     border-radius: 50%;
}
.news-banner .news-image img{
    width:100%;
}
/* baner news style end */

/* contact style start */
.contact-area .contact-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 50px 0;
}
.contact-area .contact-image{
  max-width: 585px;
}
.contact-area .contact-image img{
   width: 100%;
}
.contact-area .contact-form{
  max-width: 563px;
}
.contact-area .contact-form input{
   display: inline-block;
   width: 528px;
   padding: 16px 18px;
   margin: 16px 0;
   border-radius: 8px;
}
.contact-area .contact-form .input-flex{
    display: flex;
    gap: 16px;
}
.contact-area .contact-form h4{
   font-size: 48px;
    margin-bottom: 40px;
    
}
.contact-area .contact-form p{
   margin-bottom: 40px;
}
.contact-area .contact-form .submit-btn{
    padding: 18px 50px;
    background: var(--primer);
    color: var(--black);
    border-radius: 8px;
    transition-duration: .4s;
    font-size: 18px;
}
.contact-area .contact-form .submit-btn:hover{
 background: var(--black);
 color: var(--white);
  
}
/* contact style end */