/* Reset styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* CSS Variables */
/* Base styles */
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--white);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
}
a:hover {
  opacity: 0.8;
}

/* Reset headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

/* Container */
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.header-area {
  width: 100%;
  background-color: #050505;
}
.header-area .header-main {
  max-width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.header-area .header-main .header-menu li {
  color: #ffffff;
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  text-transform: capitalize;
}
.header-area .header-main .header-btn-box .header-btn-1 {
  padding: 15px 30px;
  background: #ffffff;
  color: #050505;
  border-radius: 10px;
}
.header-area .header-main .header-btn-box .header-btn-1:hover {
  background: #25EFD2;
}
.header-area .header-main .header-btn-box .header-btn a {
  color: #050505;
}

/* banner css start */
.banner-are {
  width: 100%;
  background-color: #25EFD2;
  padding: 50px 0;
}
.banner-are .banner-main {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-are .banner-main .banner-content {
  max-width: 584px;
  background-color: #25EFD2;
}
.banner-are .banner-main .banner-content h1 {
  font-size: 48px;
  margin-bottom: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.banner-are .banner-main .banner-content p {
  font-size: 18px;
  color: #333333;
  margin-bottom: 40px;
}
.banner-are .banner-main .banner-content .banner-btn {
  color: #050505;
  padding: 18px 50px;
  border: solid 2px #050505;
  border-radius: 10px;
}
.banner-are .banner-imae {
  width: 673px;
  position: relative;
  text-align: center;
  z-index: 1;
}
.banner-are .banner-imae img {
  width: 460px;
}
.banner-are .banner-imae .banner-bg {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.banner-are .swiper-pagination {
  text-align: center;
}
.banner-are .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 1;
}
.banner-are .swiper-pagination .swiper-pagination-bullet-active {
  width: 28px;
  height: 12px;
  border-radius: 30px;
  background: #050505;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
  margin-bottom: 44px;
}

/* banner css end */
.swiper {
  width: 100%;
}

/* product section start */
.product-box .product-area {
  max-width: 1130px;
  margin: 50px 0;
}

.product-box .product-area .product-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.product-box .product-area .product-item .product-image {
  max-width: 588px;
}

.product-box .product-area .product-item .product-image img {
  width: 100%;
}

.product-box .product-area .product-item .product-content {
  max-width: 526px;
}

.product-box .product-item .product-content h2 {
  font-size: 37px;
  margin-bottom: 40px;
}

.product-box .product-item .product-content p {
  margin-bottom: 40px;
}

.product-box .product-item .product-content a {
  padding: 18px 50px;
  background: #25EFD2;
  border-radius: 10px;
  color: #050505;
}

.product-box .product-item .product-content a:hover {
  background: #050505;
  color: #ffffff;
}

.product-box .product-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* baner news style start */
.news-banner .news-main {
  max-width: 1240px;
  background: #25EFD2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
}
.news-banner .news-content {
  max-width: 486px;
}
.news-banner .news-content h4 {
  font-size: 46px;
  margin-bottom: 40px;
}
.news-banner .news-content p {
  margin-bottom: 40px;
}
.news-banner .news-content a {
  padding: 18px 40px;
  background: #ffffff;
  color: #050505;
  border-radius: 10px;
}
.news-banner .news-content a:hover {
  background: #050505;
  color: #ffffff;
}
.news-banner .news-image {
  max-width: 440px;
  border-left: 1px solid #ffffff;
  border-radius: 50%;
  color: #050505;
}
.news-banner .news-image img {
  width: 100%;
}

.news-banner.swiper {
  width: 90%;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news-banner.swiper .swiper-pagination {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news-banner.swiper .swiper-pagination .swiper-pagination-bulle {
  background: #ffffff;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 1;
}
.news-banner.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #050505;
  width: 24px;
  border-radius: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease-out 0.3s;
  transition: all 0.3s ease-out 0.3s;
}

/* baner news style end */
/* contact style start */
.contact-area .contact-main {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin: 50px 0;
}
.contact-area .contact-image {
  max-width: 585px;
}
.contact-area .contact-image img {
  width: 100%;
}
.contact-area .contact-form {
  max-width: 563px;
}
.contact-area .contact-form input {
  display: inline-block;
  width: 528px;
  padding: 16px 18px;
  margin: 16px 0;
  border-radius: 8px;
}
.contact-area .contact-form .input-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.contact-area .contact-form h4 {
  font-size: 48px;
  margin-bottom: 40px;
}
.contact-area .contact-form p {
  margin-bottom: 40px;
}
.contact-area .contact-form .submit-btn {
  padding: 18px 50px;
  background: var(--primer);
  color: var(--black);
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-size: 18px;
}
.contact-area .contact-form .submit-btn:hover {
  background: var(--black);
  color: var(--white);
}

/* contact style end */
/* footer style start */
.footer-area {
  background: #050505;
  padding: 50px 0 20px 0;
}
.footer-area .footer-main {
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}
.footer-area .logo-widget {
  max-width: 239px;
}
.footer-area .logo-widget .footer-logo {
  margin-bottom: 12px;
}
.footer-area .logo-widget p {
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
}
.footer-area .footer-widget:nth-child(2) {
  max-width: 140px;
}
.footer-area .footer-widget:nth-child(3) {
  max-width: 258px;
  height: 254px;
}
.footer-area .footer-widget:nth-child(4) {
  max-width: 186px;
}
.footer-area .footer-widget h4 {
  font-size: 24px;
  line-height: 24px;
  color: #25EFD2;
  margin-bottom: 33px;
}
.footer-area .footer-widget ul li {
  margin-bottom: 10px;
}
.footer-area .footer-widget .adress p, .footer-area .footer-widget .adress a {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 8px;
}
.footer-area .footer-widget .adress h5 {
  font-size: 18px;
  color: #25EFD2;
}
.footer-area .footer-widget .activity h5 {
  font-size: 18px;
  color: #25EFD2;
  margin-bottom: 10px;
}
.footer-area .footer-widget .activity p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer-area .copyright {
  border-top: 1px solid #ffffff;
}
.footer-area .copyright p {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

/* footer style end */