* {
  margin: 0;
  padding: 0;
}

/* variable css start*/
:root {
  --black: #050505;
  --white: #ffffff;
  --primer: #25EFD2;
  --light-black: #333333;
  /* variable css end */
}

/* common css start */
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

/* common css end */
.header-area {
  width: 100%;
  background-color: var(--black);
}
.header-area .header-main {
  max-width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.header-area .header-main .header-menu li {
  color: var(--white);
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  text-transform: capitalize;
}
.header-area .header-main .header-btn-box .header-btn-1 {
  padding: 15px 30px;
  background: var(--white);
  color: var(--black);
  border-radius: 10px;
}
.header-area .header-main .header-btn-box .header-btn-1:hover {
  background: var(--primer);
}
.header-area .header-main .header-btn-box .header-btn a {
  color: var(--black);
}

/* banner css start */
.banner-are {
  width: 100%;
  background-color: var(--primer);
  padding: 50px 0;
}
.banner-are .banner-main {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-are .banner-content {
  max-width: 584px;
  background-color: var(--primer);
}
.banner-are .banner-content h1 {
  font-size: 48px;
  margin-bottom: 40px;
}
.banner-are .banner-content p {
  font-size: 18px;
  color: var(--light-black);
  margin-bottom: 40px;
}
.banner-are .banner-content .banner-btn {
  color: var(--black);
  padding: 18px 50px;
  border: solid 2px var(--black);
  border-radius: 10px;
}
.banner-are .banner-imae {
  width: 673px;
  position: relative;
  text-align: center;
  z-index: 1;
}
.banner-are .banner-imae img {
  width: 460px;
}
.banner-are .banner-imae .banner-bg {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.banner-are .pagenation {
  text-align: center;
}
.banner-are .button-slider {
  width: 12px;
  height: 12px;
  background: var(--white);
  border-radius: 50%;
}
.banner-are .d-slider {
  width: 28px;
  height: 12px;
  border-radius: 30px;
  background: var(--black);
}

/* banner css end */