/* Reset styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* CSS Variables */
/* Base styles */
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--white);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
}
a:hover {
  opacity: 0.8;
}

/* Reset headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

/* Container */
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.header-area {
  width: 100%;
  background-color: #050505;
}
.header-area .header-main {
  max-width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.header-area .header-main .header-menu li {
  color: #ffffff;
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  text-transform: capitalize;
}
.header-area .header-main .header-btn-box .header-btn-1 {
  padding: 15px 30px;
  background: #ffffff;
  color: #050505;
  border-radius: 10px;
}
.header-area .header-main .header-btn-box .header-btn-1:hover {
  background: #25EFD2;
}
.header-area .header-main .header-btn-box .header-btn a {
  color: #050505;
}

/* banner css start */
.banner-are {
  width: 100%;
  background-color: #25EFD2;
  padding: 50px 0;
}
.banner-are .banner-main {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-are .banner-main .banner-content {
  max-width: 584px;
  background-color: #25EFD2;
}
.banner-are .banner-main .banner-content h1 {
  font-size: 48px;
  margin-bottom: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.banner-are .banner-main .banner-content p {
  font-size: 18px;
  color: #333333;
  margin-bottom: 40px;
}
.banner-are .banner-main .banner-content .banner-btn {
  color: #050505;
  padding: 18px 50px;
  border: solid 2px #050505;
  border-radius: 10px;
}
.banner-are .banner-imae {
  width: 673px;
  position: relative;
  text-align: center;
  z-index: 1;
}
.banner-are .banner-imae img {
  width: 460px;
}
.banner-are .banner-imae .banner-bg {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.banner-are .swiper-pagination {
  text-align: center;
}
.banner-are .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 1;
}
.banner-are .swiper-pagination .swiper-pagination-bullet-active {
  width: 28px;
  height: 12px;
  border-radius: 30px;
  background: #050505;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
  margin-bottom: 44px;
}

/* banner css end */
.swiper {
  width: 100%;
}