/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
// :root {
//     --black: #050505;
//     --white: #ffffff;
//     --primer: #25EFD2;
//     --light-black: #333333;
    
//     /* Add commonly used values */
//     --transition: all 0.3s ease;
//     --container-width: 1240px;
// }

/* Base styles */
body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--white);
    transition: var(--transition);
    display: inline-block;
    
    &:hover {
        opacity: 0.8;
    }
}

/* Reset headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

/* Container */

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}